/*========================================================
                         Box
=========================================================*/
.box {
  margin-top: 0;
  .box-heading {
    margin: 0 0 0px;
    text-align: left;
    background: $primary;
    h3 {
      margin: 0;
      padding: 4px 7px 1px;
      padding-left: 35px;
      font: 700 18px/46px $base-font-family;
      text-transform: uppercase;
      color: #fff;
    }
    &.mod1 {
      background: $secondary-color2;
      h3 {
        padding-bottom: 3px;
        line-height: 35px;
      }
    }
  }
}

aside .box .product-layout {
  width: 100%;
  margin-top: 30px;
  &:first-child {
    margin-top: 0;
  }
}

aside .box .box-content {
  margin-top: 30px;
}

/*========================================================
                    Responsive Box
=========================================================*/
@media (max-width: 991px) {
  .box .box-heading {
    h3 {
      font-size: 16px;
      padding-left: 12px;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .box.info .box-content ul a {
    padding: 13px 5px;
  }
}

@media (max-width: 767px) {
  aside .box .box-heading {
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
    &:after {
      content: '\f055';
      position: absolute;
      right: 10px;
      top: 14px;
      font-size: 21px;
      font-family: $fa;
      color: #fff;
    }
    &.active {
      &:after {
        content: '\f056';
      }
    }
  }
}
