/*========================================================
                      Product
=========================================================*/

/* ===================   Product Layout   =================== */
.product-layout {
  margin-bottom: 38px;
  padding: 0px 52px 6px 29px;
}

.product-thumb {
  .image + .caption {
    margin-top: 8px;
  }
  .cart-button {
    margin-top: 11px;
  }

}

/* ===================   Product Image   =================== */
.product-thumb .image {
  position: relative;
  > a {
    display: block;

    img {
      @include transition(.5s all ease);
      margin: 0 auto;
    }

    &:hover img {
      opacity: .5;
    }
  }
}

/* ===================   Product Caption   =================== */
.product-thumb {
  position: relative;
  @include box-sizing(border-box);
  .caption {
    position: relative;
  }
  .name {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
  }
  .description {
    font-size: 12px;
    line-height: 24px;
  }
  .cart-button {
    @include clearfix();
    button {
      float: left;
    }
    .secondary-btns {
      float: right;
      button + button {
        margin-left: 6px;
      }
    }
  }
  &:hover .quickview {
    opacity: 1;
    @include transform(scale(1));
  }
  &:hover .rating {
    opacity: 1;
    @include transform(scale(1));
  }
}

/* ==================    Product List, Product Grid    =================== */
.product-list .product-thumb .caption, .product-list .product-thumb .cart-button {
  overflow: hidden;
}

.product-list .product-thumb .image {
  float: left;
  margin-right: 30px;
  width: 30%;
}

.product-grid .product-thumb .image {
  float: none;
}

/* ==================   SALE, NEW Message   =================== */
.sale, .new_pr {
  font-size: 13px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $primary;
  color: #FFF;
  line-height: 29px;
  padding: 0 8px;
  z-index: 9;
}

.new_pr {
}

/* ===================   Product Price    =================== */
.price-new, .price-old,.price {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  vertical-align: top;
}

.price-old {
  font-weight: 400;
  text-decoration: line-through;
}

.price-section .price-new, .price-section .price-old {
  font-size: 14px;
  line-height: 20px;
}

.price-section .price-old {
  font-size: 14px;
  line-height: 20px;
}

.price-section .reward {
  display: block;
  margin-top: 10px;
}

.price-tax {
  font-size: 12px;
}

.price-total {
  font-weight: bold;
}

.price s {
  font-size: 15px;
}

.prod-stock {
  color: #6BA239;
}

.product-thumb .price-tax {
  color: #999;
  font-size: 12px;
  display: block;
}

/* ===================   Product Rating   =================== */
.rating {
  position: absolute;
  top: -26px;
  opacity: 0;
  z-index: 9;
  @include transform(scale(0.8));
  @include transition(all .5s ease);
}

.rating .fa-stack i {
  font-size: 11px;
}

.fa-stack {
  font-size: 11px;
  line-height: 20px;
  width: 0.9em;
  i {
    color: $primary;
  }
}

.table-compare td.rating .fa-stack, .table-compare td.rating .fa-stack-2x {
  width: 1em;
  height: 1em;
  font-size: 1em;
}

/* ===================   Product Quickview   =================== */
.quick_info {
  display: none;
}

.fancybox-skin:hover .fancybox-nav span {
  visibility: visible;
}

.fancybox-nav {
  height: 40px;
  top: 50%;
  width: 40px
}

.fancybox-next {
  right: -60px;
}

.fancybox-prev {
  left: -60px;
}

.quickview_description {
  overflow: auto;
  max-height: 300px;
  border: 1px solid $border-color;
  padding: 10px;
  margin-top: 15px;
}

.quickview_description iframe,
.product-desc iframe {
  width: 40% !important;
  height: 200px !important;
  float: left;
  margin-right: 2em;
}

.quickview-style {
  .inf {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .cart-button {
    margin-top: 10px;
    margin-bottom: 30px;
    .btn {
      padding: 0;
      width: 38px;
      height: 38px;
      line-height: 38px;
      text-align: center;
    }
  }
  .rating{
    margin-top: 5px;
    margin-bottom: 10px;
    top: 36px;
    left: 10px;
    opacity: 1;
    .fa-stack i:before {
      line-height: 30px;
    }
  }
}

/*========================================================
               Responsive Styles Product
=========================================================*/

@media (max-width: 1200px) {
  .product-thumb .button-group button, .product-thumb .button-group button + button {
    width: 33.33%;
  }
}

@media (max-width: 1199px) {
  .product-layout {
    padding: 0px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  .product-layout {
    min-height: 290px;
  }
  .product-thumb {
    .cart-button {
      button {
        float: none;
      }
      .secondary-btns {
        margin-top: 10px;
        display: block;
        float: none;
      }
    }
  }     
}

@media (min-width: 768px) {
  .box .box-content .last {
    clear: left;
  }
  .fancybox-next {
    right: -30px;
  }
  .fancybox-prev {
    left: -30px;
  }
}

@media (max-width: 767px) {
  #content .product-layout {
    width: 50%;
    float: left;
    + .product-layout {
      margin-top: 0;
    }
  }

  .quickview_description iframe,
  .product-desc iframe {
    float: none;
    width: 100% !important;
    margin: 0 0 2em;
  }

  .product-list .product-thumb .image,
  .product-grid .product-thumb .image {
    float: none;
    margin: 0 0 15px;
    width: 100%;
  }

  .product-layout {
    margin-bottom: 34px;
  }
}

@media (max-width: 600px) {
  .quickview_description iframe,
  .product-desc iframe {
    height: 240px !important;
  }
}

@media (max-width: 540px) {
  #content .product-layout {
    width: 100%;
    float: none;
  }
}

@media (max-width: 530px) {
  .rating span {
    display: inline-block !important;
    width: 0.9em;
  }
}
