//--------------------------------------------------------------
//                    Variables
//--------------------------------------------------------------
//Backgrounds
$header-bg: #212121;
$content-bg: #fff;
$footer-bg: #212121;
$base-bg: $footer-bg;
$bg-1: #2a2a2a;

// Fonts
$base-font-family: 'Roboto', sans-serif;
$base-font: 400 14px/24px $base-font-family;

// Colors
$base-color: #000;
$primary: #4bae4f;
$secondary-color: #d2d2d2;
$secondary-color2: #2a2a2a;
$text-primary: #2a2a2a;
$border-color: #2c3137;