/*==================  Stuck menu  ======================*/

$stuck-bg: $header-bg;

.stuck-menu{
  width: auto !important;
}

@media only screen and (min-width: 991px) {
  .scroll-fix {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    @include transition(.3s all ease);
    // Custom styles
    background: $stuck-bg;
    padding: 10px 0;
    .logo-block {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

@media only screen and (max-width: 991px) {
  .stuck-menu {
    position: static;
    +div{
      display: none;
    }
  }
}