/*========================================================
                      Menu styles
=========================================================*/
@import "_floated-menu.scss";

.nav__primary {
  padding: 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

/*================ Menu  ===============*/
.nav__primary .menu {
  li {
    position: relative;

    &.sfHover > a, > a:hover, >a.active{
      background: #f2f2f2;
      color: #000;
    }
  }
  li > a {
    display: block;
  }
}

/*================ Sub-menu lvl1  ===============*/
.nav__primary .menu ul {
  display: none;
  position: absolute;
  z-index: 109;
  left: 0;
  top: 100%;
  width: 100%;
  margin-top: 0;
  @include box-sizing(border-box);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
}

/*================ Sub-menu lvl1 item  ===============*/
.nav__primary .menu ul {
  li {
    position: relative;
  }
  a{
    display: inline-block;
  }
  li.active > a, a:hover, li.sfHover > a {
    color: $text-primary;
  }
}

/*================ Sub-menu lvl2 ===============*/
.nav__primary .menu ul ul {
  left: 100%;
  top: 0;
  margin-left: 15px;
  margin-top: 0;
  &:before{
    display: none;
  }
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
}

//--------------------------------------------------------------
//                      sf-with-ul styles
//--------------------------------------------------------------
.nav__primary .menu > li > .sf-with-ul {
  position: relative;
  &:before {
    position: absolute;
    left: 50%;
    top: 62%;
    margin-left: -6px;
    content: '\f0d7';
    font: 400 12px/12px 'FontAwesome';
  }
}

.nav__primary .menu ul > li > .sf-with-ul {
  position: relative;

  &:before {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -7px;
    content: '\f054';
    font: 400 14px/14px 'FontAwesome';
  }
}

.sfHover .sfHover .sf-with-ul,{
  &:before {
    content: '\f078';
  }
}


@media (max-width: 767px) {
  .nav__primary .menu {
    display: none;
  }
  .menu-gadget {
    display: block;
  }
}

































