<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
  <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
 </appSettings>
 <connectionStrings>
   <add name="Entidades" connectionString="metadata=res://*/Modelo.csdl|res://*/Modelo.ssdl|res://*/Modelo.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=127.0.0.1;PASSWORD=sushi;USER ID=SUSHI&quot;" providerName="System.Data.EntityClient" />
 </connectionStrings>     
	<system.web>
		<httpHandlers>
   <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    validate="false" />
  </httpHandlers>
  <pages>
   <controls>
    <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
     assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
   </controls>
  </pages>
  <compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies></compilation>
		<authentication mode="Forms">
			<forms loginUrl="login.aspx" defaultUrl="MainPage.aspx"/>
		</authentication>
	</system.web>
	<system.webServer>
  <modules runAllManagedModulesForAllRequests="true" />
  <validation validateIntegratedModeConfiguration="false" />
  <handlers>
   <remove name="ChartImageHandler" />
   <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
    path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </handlers>
 </system.webServer>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IServicio"/>
				<binding name="BasicHttpBinding_IServicioReporte"/>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:62494/Servicio.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicio" contract="ServicioCompras.IServicio" name="BasicHttpBinding_IServicio"/>
			<endpoint address="http://localhost:56762/ServicioReporte.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioReporte" contract="ServicioReporte.IServicioReporte" name="BasicHttpBinding_IServicioReporte"/>
		</client>
	</system.serviceModel>
</configuration>
