/*========================================================
                      Banners
=========================================================*/
.banners > div {
  .banner-box {
    position: relative;
    > a {
      display: block;
    }
    a {
      img {
        z-index: 0;
      }
      position: relative;
      &:after {
        content: '';
        top:0;
        right: 0;
        bottom: 0;
        left:0;
        background: rgba(#000, 0.4);
        z-index: 1;
        display: block;
        position: absolute;
        @include transition(all .6s ease);
      }
    }
  }
}

.banners > div .s-desc {
  z-index: 2;
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  text-align: center;
  h4 {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #fff;
  }
  h1 {
    @include transition(all .3s ease);
    font-size: 36px;
    line-height: 36px;
    font-weight: 300;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #fff;
    @include transform(scale(1));
    &:after {
      content: '';
      display: block;
      width: 85px;
      height: 1px;
      background: #fff;
      position: absolute;
      bottom: -15px;
      left: 50%;
      margin-left: -42px;
      @include transform(scale(1));
      @include transition(all .3s ease);
    }
    & + p {
      margin-top: 28px;
    }
  }
  p {
    font-size: 14px;
    line-height: 18px;
    color: #fff;
  }
}

#banner0 {
  margin-top: 23px;
}

.banner-1 {

}

.banner-1 .s-desc {

}

#banner0 .banner-box a:hover{
  .s-desc{
    h1 {
      @include transform(scale(1.1));
      color: $primary;
      &:after {
        @include transform(scale(1.1));
        background-color: $primary;
        width: 100%;
        left: 0;
        margin-left: 0;
      }
    }
  }
  &:after {
    background: rgba(#000, 0.6);
  }
}

/*========================================================
                   Responsive Banners
=========================================================*/

@media (max-width: 767px) {
    .banners > div {
      text-align: center;
      .banner-box {
        max-width: 100%;
        display: inline-block;
      }
    }
}