#page {
  background: $content-bg;
  overflow: hidden;
}

/*==================  Marked List  ======================*/
.box.account ul, .box.affilate ul {
  padding: 0;
  list-style-type: none;
  a {
    position: relative;
    border-bottom: 1px solid #DADADA;
    display: block;
    padding: 13px 15px;
    &:before {
      content: '\f054';
      margin-right: 10px;
      font-weight: 400;
      font-size: 10px;
      font-family: $fa;
      color: $primary;
      @include transition(.3s all ease);
    }

  }
  a:hover {
    color: $primary;
  }
}

.site-map-page #content ul, .manufacturer-content div, #content ul.list-unstyled {
  margin: 0;
  list-style-type: none;
  a {
    position: relative;
    &:before {
      content: '\f105';
      margin-right: 5px;
      font-weight: 400;
      font-size: 15px;
      font-family: $fa;
      color: $primary;
    }
  }
}

#content .product-info ul.list-unstyled a:before{
  display: none;
}

@media (max-width: 767px) {
  aside {
    margin-top: 20px;
    .container{
      padding: 0;
      width: 100%;
    }
  }
  #content [class*="col-sm-"] + [class*="col-sm-"] {
    margin-top: 20px;
  }
}