footer {
  margin-top: 30px;
  background: $footer-bg;
  padding-top: 12px;
  h5{
    font-size: 17px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    margin-bottom: 0;
    +ul.list-unstyled {
      margin-top: 13px;
      li a {
        font-size: 13px;
        line-height: 24px;
        color: #fff;
        &:hover {
          color: $primary;
        }
      }
    }
  }
  ul li+li{
    margin-top: 0px;
  }
  .facebook {
    margin-top: 17px;
    margin-left: -15px;
  }
}

.copyright br{
  display: none;
}

.copyright {
  font-size: 13px;
  line-height: 31px;
  text-align: left;
  >.container{
    padding-top: 0;
    padding-left: 15px;
    padding-bottom: 60px;
    color: #fff;
  }
}
/*========================================================
                    Responsive  Footer
=========================================================*/
@media (min-width: 768px) and (max-width: 1199px) {
  footer h5{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-transform: capitalize;
    +ul.list-unstyled {
      li a {
        font-size: 11px;
        line-height: 15px;
      }
    }
  }
}

@media (max-width: 991px) {
    footer {
       .facebook {
        max-width: 220px;
       }
    }
}

@media (max-width: 767px) {
  footer > .container {
    display: none;
  }
  footer{
    .copyright {
      text-align: center;
    }
  }
}