$dropdown-bg: $bg-1;

.header {
  background: $header-bg;
  margin-bottom: 27px;

  .bg-1 {
    padding-top: 7px;
    padding-bottom: 13px;
  }

  .box-language, .box-currency {
    display: inline-block;
    float: left;
    margin-top: -2px;
  }

  .box-currency {
    margin-right: 3px;
    margin-left: 30px;
  }

  .box-language {
  }

  .box-cart {
    float: right;
  }

  .logo {
    float: left;
    margin-left: -3px;
  }

  .nav {
  }

  .logo-block {
    padding-top: 15px;
    padding-bottom: 17px;
  }

  .search {
    float: left;
  }

  .logo + .search {
    margin-left: 84px;
  }

  .dropdown-menu {
    background: $dropdown-bg;
    > li > button:hover, > li > a:hover {
      background: $primary;
      color: #FFF;
    }
  }

  
}

/*================   Top Links style   ===============*/
$top-links-item-margin: 29px;

.nav {
  > ul {
    padding: 0;
    margin: 0;
    li {
      padding: 0;
      &.dropdown a {
        color: #fff;
      }
    }
    > li + li {
      margin-left: $top-links-item-margin;
    }
  }

  a {
    font-size: 12px;
    line-height: 16px;
    color: #fff;

    i {
      display: none;
    }

    &.dropdown-toggle {
      &:hover, .active {
        color: $primary;
      }
    }

    &:hover, .active {
      color: $primary;
    }
  }

  i {
    font-size: 20px;
    margin-right: 20px;
  }
}

/*================  CURRENCY AND LANGUAGE BOXES ===============*/
.box-language .open .dropdown-toggle,
.box-currency .open .dropdown-toggle,
.box-language .dropdown-toggle:hover,
.box-currency .dropdown-toggle:hover {
  color: $primary;
  box-shadow: none;
}

.box-language .dropdown-toggle,
.box-currency .dropdown-toggle {
  display: block;
  text-align: center;
  font-size: 12px;
  line-height: 17px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  @include transition(.3s all ease);
  &:after {
    @include transition(.3s all ease);
    display: inline-block;
    content: '\f107';
    margin-left: 2px;
    font-size: 12px;
    line-height: 17px;
    font-weight: 400;
    font-family: $fa;
  }
}

.box-currency .dropdown-menu,
.box-language .dropdown-menu {
  a, button {
    text-align: left;
    display: block;
    padding: 5px 5px 5px 10px;
    width: 100%;
    font-size: 13px;
    text-transform: capitalize;
    color: #fff;
  }
}

@import "../components/menu/_swipe-menu";
/*========================================================
               Responsive Header styles
=========================================================*/
@media(min-width: 768px) and (max-width: 991px) {
  .nav a {
    span {
      display: none;
    }
    i {
      display: block;
      font-size: 18px; 
      line-height: 30px;
    }
  }
}

@media (max-width: 767px) {
  .header {
    padding-top: 50px;
    .logo-block {
      text-align: center;
      .fleft {
        float: none;
      }
    }
    .search {
      float: none;
      display: inline-block;
      ul {
        text-align: left;
      }
    }
    .logo + .search {
      margin-left: 0;
      margin-top: 30px;
    }
    .box-currency {
      margin-right: 0;
      padding: 0;
    }
    .logo {
      float: none;
      text-align: center;
      margin-top: 15px;
      img {
        display: inline-block;
      }
    }

    .box-cart {
      float: none;
      margin-top: 0;
    }
    .nav {
      margin-top: 0;
      ul {
        display: none;
      }
    }

    .nav__primary {
      margin-top: 15px;
      background: none;
    }
  }
}