<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/Modelo.csdl|res://*/Modelo.ssdl|res://*/Modelo.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=XE;PASSWORD=sushi;USER ID=SUSHI&quot;" providerName="System.Data.EntityClient" />
    <add name="Entidades" connectionString="metadata=res://*/Modelo.csdl|res://*/Modelo.ssdl|res://*/Modelo.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=XE;PASSWORD=sushi;PERSIST SECURITY INFO=True;USER ID=SUSHI&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>